##############################
## Folders                  ##
##############################
.settings
upload

##############################
## Netbeans conf            ##
##############################
note
.classpath
.project
c3p0-config.xml
my.properties
 